body {
    background-color: #1F151F;
}

body, input, select, textarea {
    color: #F3F7F3;
}

h1, h2, h3, h4, h5, h6 {
    color: #F3F7F3;
}

a {
    color: #B73C4F;
}

a:hover {
    color: #B73C4F;
}

a.icon.alt::before {
    color: #1F151F;
}

a.icon.alt:hover::before {
	background-color: #B73C4F;
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
	background-color: #8294AA;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #B73C4F;
	box-shadow: 0 0 0 2px #B73C4F;
}

input[type="submit"],
input[type="reset"], 
input[type="button"],
button,
.button {
	box-shadow: inset 0 0 0 2px #F3F7F3;
    color: #F3F7F3;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
button:hover,
button:active,
.button:hover,
.button:active {
	box-shadow: inset 0 0 0 2px #FD6C02;
	color: #FD6C02;
}

.button.next:hover::before {
	opacity: 0;
}

input[type="submit"].next::after,
input[type="reset"].next::after,
input[type="button"].next::after,
button.next::after,
.button.next::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23FD6C02%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
	opacity: 0;
	z-index: 1;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
	background-color: #F3F7F3;
	box-shadow: none;
	color: #1F151F;
}

input[type="submit"].special:hover,
input[type="submit"].special:active,
input[type="reset"].special:hover,
input[type="reset"].special:active,
input[type="button"].special:hover,
input[type="button"].special:active,
button.special:hover,
button.special:active,
.button.special:hover,
.button.special:active {
	box-shadow: inset 0 0 0 2px #FD6C02;
	background-color: #FD6C02;
	color: #1F151F !important;
}


/* Header */

#header {
    background-color: #1F151F;
}

#header .logo,
#header nav a {
    color: #F3F7F3;
}

#header .logo {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.15em;
}

#header .logo img {
    max-height: 220%;
}

#header .logo strong {
    color: #F3F7F3;
    background-color: #FD6C02;
}

#header .logo:hover strong {
	background-color: #B73C4F;
}

#header nav a:hover {
	color: #B73C4F !important;
}

#header nav a[href="#menu"]::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23B73C4F%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
}


/* Banner */

#banner::after {
    background-color: #1F151F;
}

#banner h1 {
    /*
    background: url("../img/logo.png") 0 0 no-repeat;
    background-size: contain;
    padding-left: 2.5em;
    */
}

#banner .button:hover,
#banner .button:active {
	box-shadow: inset 0 0 0 2px #FD6C02;
	color: #FD6C02;
}

@media screen and (min-width: 1280px) {
    #banner {
        background-image: url("../img/banner-large.jpg");
    }
}

@media screen and (min-width: 980px) {
    #banner {
        background-image: url("../img/banner-medium.jpg");
    }
}


/* Main */

#main {
    background-color: #8294AA;
}


/* Two */

#two .button:hover {
	box-shadow: inset 0 0 0 2px #B73C4F;
	color: #B73C4F;
}

#two .button.next::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23B73C4F%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}


/* One */

.sample-project-pics p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FFF;
    padding: 0 1em 1em;
}

.sample-project-pics p img {
    display: block;
    width: 100%;
    margin: 1em 0 0;
}

@media screen and (min-width: 768px) {
    .sample-project-pics p {
        justify-content: flex-start;
        align-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
        .sample-project-pics.closets p { max-height: 4200px; }
        .sample-project-pics.furniture p { max-height: 900px; }
        .sample-project-pics.kitchen p { max-height: 4200px; }
        .sample-project-pics.office-partition p { max-height: 2400px; }
        .sample-project-pics.toilet-partition p { max-height: 900px; }
        .sample-project-pics.vanity p { max-height: 2700px; }
        .sample-project-pics.visuals p { max-height: 5200px; }

    .sample-project-pics p img {
        width: 45%;
    }
}

@media screen and (min-width: 1280px) {
    .sample-project-pics p {
    }
        .sample-project-pics.closets p { max-height: 3600px; }
        .sample-project-pics.furniture p { max-height: 700px; }
        .sample-project-pics.kitchen p { max-height: 3600px; }
        .sample-project-pics.office-partition p { max-height: 1900px; }
        .sample-project-pics.toilet-partition p { max-height: 800px; }
        .sample-project-pics.vanity p { max-height: 2200px; }
        .sample-project-pics.visuals p { max-height: 4300px; }

    .sample-project-pics p img {
        width: 30%;
    }
}


/* Footer */

#footer .copyright li {
	border-left: solid 1px #8294AA;
	color: #8294AA;
}
