{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        {{ range .Site.Params.Tiles.showcase }}
        <article>
            <span class="image">
                <picture>
                    <source srcset="{{ .Site.Params.baseURL }}img/{{ .image_large }}" media="(min-width: 481px)">
                    <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" />
                </picture>
            </span>
            <header class="major">
                <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                <!-- <p>{{ .subtitle }}</p> -->
            </header>
        </article>
        {{ end }}
    </section>
