{{ "<!-- Two -->" | safeHTML}}
    <section id="two">
        <div class="inner about-us">
            <header class="major">
                <h2>About Us</h2>
            </header>
            <div>
                <p><strong>Modulhaus Inc.</strong> is a duly qualified manufacturer of customized modular cabinets using quality imported materials that allow home and business owners to choose storage units that will perfectly fit their decorative and functional needs.</p>
                <p>Our company started its operations in 2013. We are located at San Marcos, Agoo, La Union, Philippines. The people behind  <strong>Modulhaus Inc.</strong> have almost a decade of experience in the industry, enabling us to offer excellent quality cabinets and partitions that are made out of the best quality and environmentally friendly raw materials.</p>
                <p>We also have invested heavily in some of the most advanced manufacturing machinery available to equip us to build high quality products and render efficient and maximum service to our clients.</p>
            </div>
            <ul class="actions">
                <li><a href="{{ .Site.Params.Two.url | absURL}}" class="button next">{{ .Site.Params.Two.buttonText }}</a></li>
            </ul>
        </div>
    </section>
